{% extends "base_adminlte.html" %}
{% block title %}ورود{% endblock %}
{% block sidebar %}  {% endblock %}
{% block content %}
<div class="login-box mx-auto" style="max-width:400px;">
  <div class="card card-outline card-primary">
    <div class="card-header text-center">
      <h3><b>ورود به سیستم</b></h3>
    </div>
    <div class="card-body">
      <p class="login-box-msg">برای ورود اطلاعات خود را وارد کنید</p>

      <form method="post">
        {% csrf_token %}

        <div class="input-group mb-3">
          {{ form.username }}
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-user"></span>
            </div>
          </div>
        </div>

        <div class="input-group mb-3">
          {{ form.password }}
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-lock"></span>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-12">
                <div class="form-group">
                {{ form.captcha }}   <!-- کپچا -->
                </div>
          </div>
        </div>

        <div class="row">
          <div class="col-6">
            <button type="submit" class="btn btn-primary btn-block">ورود</button>
          </div>
        </div>
      </form>

      <p class="mb-1 mt-3">
        <a href="#">رمز عبور خود را فراموش کرده‌اید؟</a>
      </p>
    </div>
  </div>
</div>
{% endblock %}